<div class="auth">
  <!-- Old way
  <h1>Register</h1>
  <auth-form
    user="$ctrl.user"
    message="{{ $ctrl.error }}"
    button="Create user"
    on-submit="$ctrl.createUser($event);"
    dorms="$ctrl.dorms">
  </auth-form>
</div>
<br>
<div class="auth__info">
  <a ui-sref="login">
    Already have an account? Login here.
  </a>
  -->


  <auth-form user="$ctrl.user" message="{{ $ctrl.error }}" top="Register" button="Create user" on-submit="$ctrl.createUser($event);" dorms="$ctrl.dorms">
  </auth-form>
  <div class="auth__info">
    <a ui-sref="login">
      Already have an account? Login here.
    </a>
  </div>
</div>
