<html ng-app="app">
	<head>
		<title>My Angular app</title>
		<link href="styles2.css" rel="stylesheet">
	</head>
	<body>
		<div class="main">
			<header class="header">
				<ul class="header__labels">
					<li>
						<a href="#/dorms">Dorms</a>
					</li>
				</ul>
			</header>
			<div ui-view class="dorms"></div>
		</div>
        
        <script src="dorms.js"></script>
		<script src="dorms.component.js"></script>
		<script src="Keenan/dorms-keenan.component.js"></script>
		<script src="WelshFam/dorms-welshfam.component.js"></script>
        <script src="Zahm/dorms-zahm.component.js"></script>
        <script src="Sorin/dorms-sorin.components.js"></script>
        <script src="Alumni/dorms-alumni.component.js"></script>
        <script src="Farley/dorms-farley.component.js"></script>
        <script src="PE/dorms-pe.component.js"></script>
        <script src="methods/methods.component.js"></script>
		
	</body>
</html>