<div class="quiz-area" ng-show="inProgress">
	<div ng-show="!quizOver">
        <img ng-src="{{questions.image}}">
		<h2 id="question">{{question}}</h2>
		<ul id="options">
			<li ng-repeat="option in options">
				<label>
					<input type="radio" name="answer" value="{{option}}">
					{{option}}
				</label>
			</li>
		</ul>
		<button ng-click="checkAnswer()" ng-show="answerMode">Submit</button>

		<div ng-show="!answerMode">
			<button ng-click="nextQuestion()" class="next-question">Next</button>
			<span ng-show="correctAns">That is correct!</span>
			<span ng-show="!correctAns">Sorry, that is incorrect.</span>
		</div>
	</div>

	<div ng-show="quizOver">
		<h2>You have reached the end of the Photo Quiz</h2>
		<button ng-click="reset()">Play again</button>
	</div>

	<div id="score">
		Your Score: {{score}}
	</div>
</div>

<div class="intro" ng-show="!inProgress">
	<p>Welcome to the Photo Quiz!!</p>
	<button id="startQuiz" ng-click="start()">Click here to Start the Quiz</button>
</div>