<form name="authForm" novalidate ng-submit="$ctrl.submitForm();">
  <label>
    <input
      type="email"
      name="email"
      required="required"
      placeholder="Enter your email"
      ng-model="$ctrl.user.email">
  </label>
  <br />
  <br />
  <label>
    <input
      name="username"
      required="required"
      placeholder="Enter your username"
      ng-model="$ctrl.user.username">
  </label>
  <br />
  <br />
  <label>
    <input
      type="password"
      name="password"
      required="required"
      placeholder="Enter your password"
      ng-model="$ctrl.user.password">
  </label>
  <br />
  <br />
  <label>
    <select name="dorm" ng-model="$ctrl.user.dorm" required="required">

      <option value="">--Please select a dorm--</option>
      <option ng-repeat="item in $ctrl.dorms" value="{{item.get('objectId')}}">{{item.get('Name')}}</option>
      
    </select>
  </label>
  <br />
  <br />
  <div class="auth-button">
    <button type="submit" ng-disabled="authForm.$invalid">
      {{ $ctrl.button }}
    </button>
  </div>
  <div ng-if="$ctrl.message" class="error">
    {{ $ctrl.message }}
  </div>
</form>
