<div class="dorms">
  <h1>Search for Dorms</h1>
  <form ng-submit="$ctrl.searchDorms()">
    <h2>Search Dorms</h2>
    <ul>
      <li>Name:
        <input type="text" id="name" ng-model="$ctrl.name" />
      </li>
      <li>
        <input class="submit" type="submit" value="search Dorm" />
      </li>
    </ul>
  </form>
  <ul>
    <li ng-repeat="item in $ctrl.list">
      Name: {{item.get('Name')}}
      Year Established: {{item.get('Year')}}
      Maximum Capacity: {{item.get('Capacity')}}
      Mascot: {{item.get('Mascot')}}
    </li>
  </ul>
</div>
