<div class="add">
  <form ng-submit="$ctrl.addEvent()">
    <fieldset class="event">
      <h2>Add Event</h2>
      <h3>Please only add events for your own dorm! </h3>
      <ul>
        <li>Event Title:
          <input ng-model="$ctrl.title" type="text" id="title">
        </li>
        <br>
        <li>Event Date:
          <input ng-model="$ctrl.date" type="date" id="date" min="2020-01-01" max="2050-12-31">
        </li>
        <br>
        <li>Short Description of the Event:
          <input ng-model="$ctrl.body" type="text" id="body">
        </li>
        <br>
        <li>
          <input type="submit" value="Submit" >
        </li>
      </ul>
    </fieldset>

  </form>
</div>
