<!--template for the add events tab -->
<div class="add">
  <form ng-submit="$ctrl.addEvent()">
    <fieldset class="event">
      <h2>Add Event</h2>
      <h3>Please only add events for your own dorm! </h3>
      <ul>
        <li>Event Title:
          <input ng-model="$ctrl.title" type="text" id="title" required>
        </li>
        <br>
        <li>Event Date:
          <input ng-model="$ctrl.date" type="date" id="date" min="2020-01-01" max="2050-12-31" required>
        </li>
        <br>
        <li>Short Description of the Event:
          <br>
          <textarea ng-model="$ctrl.body" type="text" id="body" rows="4" cols="30"></textarea>
        </li>
        <br>
      </ul>
      <input type="submit" value="Submit" >
      <br>
      <br>
      <div ng-if="$ctrl.eventExists" class="nEvent">
        <b>Event successfully added!</b>
        <br>
        Please wait while we redirect you to our events page...
      </div>
    </fieldset>

  </form>
</div>
