/*main body styles*/
body {
   padding-top: 3vw;
   padding-left: 3vw;
   background-repeat: no-repeat;
   background-size: cover;
   font-family: 'Raleway', sans-serif;
}
/*title syles*/
h1 {
   text-decoration: underline;
   font-style:italic;
   /* color: rgb(73, 124,339); */
}
/*table outline*/
table {
    border-collapse: collapse;
    width: 50%;
    background-color: lightsteelblue;
    box-shadow: 10px 10px 10px lightgrey;
}
/*white table outline*/
table, tr, td {
    border: 2px solid black;
}
/*padding within the table*/
tr, td {
    padding: 15px;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
}

.header__labels {

}

.header__labels li {
  display: inline-block;
}

.header__labels li a {
  padding: 8px 12px;
  display: block;
  color: #444;
  border-bottom: 2px solid #f5f5f5;
  text-decoration: none;
  font-size: 3vw;
}

.header__labels li a.active {
  border-bottom-color: #337ab7;
}

.events {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
}

.events li {
  display: inline-block;
}


.events li a {
  padding: 8px 12px;
  display: block;
  color: #444;
  border-bottom: 2px solid #f5f5f5;
  text-decoration: none;
  font-size: 2vw;
}

.events li a.active {
  border-bottom-color: red;
}
