/*main body styles*/
body {
   padding-top: 3vw;
   padding-left: 3vw;
   /*
   background-repeat: no-repeat;
   background-size: cover;
   */
   font-family: 'Raleway', sans-serif;
}
/*title syles*/
h1 {
   text-decoration: underline;
   font-style:italic;
   text-shadow: 3px 3px #6666;
}

h2 {
  font-family: Calibri Light;
  font-size: 50px;
  text-shadow: 3px 3px #6666;
  color: darkBlue;
}

h3 {
  color: black;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
}

.header__labels {

}

.header__labels li {
  display: inline-block;
}

.header__labels li a {
  padding: 8px 12px;
  display: block;
  color: #444;
  border-bottom: 2px solid #f5f5f5;
  text-decoration: none;
  font-size: 3vw;
}

.header__labels li a.active {
  border-bottom-color: #337ab7;
}

/*text for the home page*/
.box {
  height: 280px;
  width: 600px;
  color: white;
  margin: auto;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  font-weight: bold;
}

/*line on home page*/
.first {
  color: darkblue;
}

/*another line on the home page*/
.second {
  color: darkred;
}

/*events tab*/
.events {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
}

.events li {
  display: inline-block;
}


.events li a {
  padding: 8px 12px;
  display: block;
  color: #444;
  border-bottom: 2px solid #f5f5f5;
  text-decoration: none;
  font-size: 2vw;
}

.events li a.active {
  border-bottom-color: red;
}

.nEvent {
  color: darkGreen;
}

.error {
  color: red;
}

/*home tab*/
.home {
  color: rgb(97, 112, 128);
}

/*about tab*/
.about {
  color: black;
}

/*dorms tab*/
.dorms{
  padding-bottom: 125px;
  padding-right: 3vw;
  text-align: center;
}

.event {

}

.logs {
  position: fixed;
  bottom: 80px;
  background-color: lightgrey;
  width: 90vw;
  text-align: left;
  margin: auto;
}

.view {
  padding-bottom: 50px;
}

.kill {
  margin: auto;
  float: right;
}

.welmessage {
  margin: auto;
  text-align: left;
}

.submission {
  font-style: italic;
}

ul {
  list-style-type: none;
}

.fabToolbardemoBasicUsage md-fab-toolbar.md-right md-fab-trigger.align-with-text {
  left: 7px;
  width: 90vw;
}

md-toolbar {
  width: 90vw;
}

.md-subhead {
  font-style: italic;
}
