/*main body styles*/
body {
   padding-top: 3vw;
   padding-left: 3vw;
   /*
   background-repeat: no-repeat;
   background-size: cover;
   */
   font-family: 'Raleway', sans-serif;
}
/*title syles*/
h1 {
   text-decoration: underline;
   font-style:italic;
   text-shadow: 3px 3px #6666;
}

h2 {
  font-family: Calibri Light;
  font-size: 50px;
  text-shadow: 3px 3px #6666;
  color: darkBlue;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
}

.header__labels {

}

.header__labels li {
  display: inline-block;
}

.header__labels li a {
  padding: 8px 12px;
  display: block;
  color: #444;
  border-bottom: 2px solid #f5f5f5;
  text-decoration: none;
  font-size: 3vw;
}

.header__labels li a.active {
  border-bottom-color: #337ab7;
}

/*text for the home page*/
.box {
  height: 280px;
  width: 600px;
  color: white;
  margin: auto;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  font-weight: bold;
}

/*line on home page*/
.first {
  color: darkblue;
}

/*another line on the home page*/
.second {
  color: darkred;
}

/*events tab*/
.events {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
}

.events li {
  display: inline-block;
}


.events li a {
  padding: 8px 12px;
  display: block;
  color: #444;
  border-bottom: 2px solid #f5f5f5;
  text-decoration: none;
  font-size: 2vw;
}

.events li a.active {
  border-bottom-color: red;
}

.nEvent {
  color: darkGreen;
}

.error {
  color: red;
}

/*home tab*/
.home {
  color: rgb(97, 112, 128);
}

/*about tab*/
.about {
  color: black;
}

/*dorms tab*/
.dorms{
  padding-bottom: 125px;
  padding-right: 240px;
  text-align: center;
  padding: 10px;
}

/*dorms page*/
.dormspage {
  padding-left: 40px;
  padding-right: 120px;
}

/*the dorm information*/
.dormitems {
  padding-right: 10px;
}

/*theme buttons on the dorms page*/
.thebuttons {
  padding-left: 45px;
}

/*hr on the dorms page under each dorm information*/
.line {
  border-top: 3px solid lightgrey;
}


.logs {
  position: fixed;
  bottom: 80px;
  background-color: lightgrey;
  width: 90vw;
  text-align: left;
  margin: auto;
}

.view {
  padding-bottom: 50px;
}

.kill {
  margin: auto;
  float: right;
}

.welmessage {
  margin: auto;
  text-align: left;
}

.submission {
  font-style: italic;
}

.dialogdemoBasicUsage #popupContainer {
  position: relative;
  background-color: white;
}
md-backdrop.md-opaque {
    opacity: .75;
    background-color: white;
}

.list-item-text {
  display: flex;
  text-align: center;
  justify-content: center;
}

/*list element on dorms page*/
.list {
  display: flex;
  text-align: center;
  justify-content: center;
}

.md-button.md-raised:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: transparent;
}

ul {
  list-style-type: none;
}

/*map element on dorms page*/
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal for the map (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image of NDcampus) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of map */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation for map element */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button for the map */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/*alignment for the map icon and text on the screen*/
.icon {
  text-align: center;
  justify-content: center;
  padding-left: 30px;
}
