/*bold line separator*/
hr {
    border: 2px solid black;
}
/*header box*/
#heading {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url("cssphoto/countries/72b8a23363a34d28e27e72e989c5a40b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 100%;
    text-align: center;
    text-shadow: 3px 3px #6666;
    color: white;
}
/*color for hover over link*/
#heading a:hover {
    color:aqua;
}
/*border for images*/
img {
   padding:1px;
   border:2px solid #021a40;
   background-color: blue;
}
/*background color and font and center*/
body{
    background-color: rgb(213, 229, 245);
    font-family: Calibri Light;
    text-align: center;
}
/*reserved note to follow page*/
#reserved {
    position:fixed;
    width:100%;
    bottom:0px;
    background-color: white;
}
/*row of images*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
/*column of images*/
.column {
  flex: 25%;
  padding: 0 4px;
}
/*column images*/
.column img {
  margin-top: 8px;
  vertical-align: middle;
}
/*first, second, third fourth caption for each photo*/
#first {
    padding-left: 129px;
    text-align: left;
}
#second {
    padding-right: 129px;
    text-align: right;
}
#third {
    padding-left: 129px;
    text-align: left;
}
#fourth {
    padding-right: 129px;
    text-align: right;
}

/*navigation header*/
.navigation {
    display:flex;
    flex-flow:: row wrap;
    justify-content: flex-end;
    list-style:none;
    margin: 0;
    background: white;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em 2em;
    font-family: Georgia;
}
/*border to appear when hover*/
.navigation a:hover {
    border-style: solid;
    border-color: black;
    border-radius: 3px;
}
/*size 800*/
@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
        padding: 0px;
    }
    .column {
        flex: 50%;
        max-width: 100%;
    }
}
/*size 600*/
@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding 0px;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255,255,255, 0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .navigation li:last-of-type {
        border-bottom: none;
    }
    .column {
        flex: 100%;
        max-width: 100%;
    }
    /*image resizing*/
    img {
        max-width:100%;
        height:auto;
    }
}