/*header message*/
h1 {
    text-align: center;
    text-shadow: 3px 3px #6666;
    font-size: 350%;
    font-family: "Times New Roman", Times, serif;
}
/*bold line separator*/
hr {
    border: 2px solid black;
}
/*border for images*/
img {
   padding:1px;
   border:2px solid #021a40;
   background-color: yellow;
}
/*body for background and font and center*/
body{
    background-image:url("cssphoto/IMG_3221%20(1).JPG");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}
/*just some side style*/
#quiz {
    border-left: 2px solid;
    border-right: 2px solid;
}
/*reserved note to follow page*/
#reserved {
    position:fixed;
    width:100%;
    bottom:0px;
    background-color: white;
    text-align: center;
}
/*submission button size*/
#sub{
    font-size: 200%;
}
/*submission style*/
input[type=submit]{
   color: red;
    font-size: 70%;
    font-family:serif;
    border: 4px double black;
}
/*navigation header*/
.navigation {
    display:flex;
    flex-flow:: row wrap;
    justify-content: flex-end;
    list-style:none;
    margin: 0;
    background-color: rgb(213, 229, 245);
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em 2em;
    font-family: Georgia;
}
/*border to appear when hover*/
.navigation a:hover {
    border-style: solid;
    border-color: black;
    border-radius: 3px;
}
/*size 800*/
@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
        padding: 0px;
    }
}
/*size 600*/
@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding 0px;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255,255,255, 0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .navigation li:last-of-type {
        border-bottom: none;
    }
    /*change format for question 1*/
    #question1{
        max-width: 200px; 
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    /*change position of options for question 2*/
    #question2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 340px;
    }
   
}